name: pytorch_lightning 
on:
  push:
  schedule:
    - cron: '*/14 3 * * *' # Run once daily at arbitrary time (3:14 AM UTC)
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install -r requirements.txt
      - run: python -m ci.test_lightning
